*,
*::after,
*::before {
    box-sizing: border-box;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}


.body {
    font-family: 'Nunito Sans', sans-serif;
}

.header__container-fluid {
    display: flex;
    justify-content: center;
    height: 873px;
    background: linear-gradient(to left, #DF45EC, #3257DA);
}

.header__container {
    /*background-color: #ffff99;*/
    /*display: flex;*/
    /*justify-content: center;*/
    max-width: 1440px;
    height: 1129px;

}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 53px;
    margin-top: 41px;
    /*margin-right: 154px;*/
    margin-bottom: 54px;

}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 349px;
    margin-left: 20px;
    width: 161px;


}

.header__logo-title {
    /*display: flex;*/
    /*justify-content: center;*/
    align-items: center;
    text-align: center;
    /*width: 161px;*/
    height: 54px;
    background-color: #EF8D47;
    border: 1px solid #EF8D47;
    border-radius: 50%;
    /*margin-left: 20px;*/
    margin-right: 21px;
    padding: 10px 11px 20px 19px;
}

.header__logo-title > h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 25px;
    line-height: 32px;
    color: #ffffff;
    margin: 0;
    padding-right: 6px;
}

.header__logo-text {
    /*max-width: 96px;*/
    height: 53px;

}

.header__logo-text > p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #ffffff;
    margin: 0;
}

.header__menu {
    width: 512px;
    height: 52px;
    margin-right: 169px;


}

.header__menu-items {
    display: flex;
    justify-content: space-between;
    max-width: 544px;
    padding-left: 0;
}

.menu-item {
    list-style: none;

}

.menu-item-link {
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
}

.header__content {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    height: 961px;
}

.header__content-information {
    width: 504px;
    height: 445px;
    margin-top: 92px;
    margin-right: 41px;
    margin-left: 20px;
}

.header__content-title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 62px;
    line-height: 80px;
    color: #ffffff;
    padding-bottom: 55px;
    margin: 0;
}

.header__content-text {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    padding-bottom: 33px;
    margin: 0;
}

.header__content--btn {
    display: block;
    text-decoration: none;
    width: 221px;
    height: 61px;
    background: -webkit-linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);
    background: -moz-linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);
    background: linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    padding: 15px 55px 15px 57px;
}



.header__content-image {
    display: flex;
    width: 612px;
    height: 983px;
    margin-right: 54px;
}

.header__content-card {
    border: 1px solid #C4C4C4;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 481px;
    height: 650px;
    /*background-color: #C4C4C4;*/
    background: rgba(196, 196, 196, 0.3);

}

.header__content-card-photo {
    margin-top: 16px;
    width: 437px;
    height: 401px;
}

.header__content_card-title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    color: #ffffff;
    margin-top: 34px;
    margin-bottom: 36px;

}

.header__content-card-btn {
    text-decoration: none;
    width: 398px;
    height: 66px;
    background: -webkit-linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);
    background: -moz-linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);
    background: linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    padding: 15px 159px;
}

.header__content-shadow {
    border-bottom-right-radius: 337px;
    width: 560px;
    height: 890px;
    margin-top: 30px;
    margin-left: 48px;
    background: -webkit-linear-gradient(180deg, rgb(253, 181, 124), rgb(155, 16, 139) 100%);
    background: -moz-linear-gradient(180deg, rgb(253, 181, 124), rgb(155, 16, 139) 100%);
    background: linear-gradient(180deg, rgb(253, 181, 124), rgb(155, 16, 139) 100%);
    -webkit-box-shadow: 22px 32px 0px 8px rgba(189, 15, 154, 0.08);
    -moz-box-shadow: 22px 32px 0px 8px rgba(189, 15, 154, 0.08);
    box-shadow: 22px 32px 0px 8px rgba(189, 15, 154, 0.08);

}

.header__number {
    max-width: 1440px;
    height: 255px;
}

.header__number {
    display: flex;
    justify-content: flex-start;
    width: 554px;
    height: 127px;
    position: absolute;
    top: 873px;
    margin: 56px 0 0 41px;
}

.header__number-persons-arts, .header__number-persons-artist {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.header__number-persons-arts > h3, .header__number-persons-artist > h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 44px;
    line-height: 61px;
    background: -webkit-linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);
    background: -moz-linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);
    background: linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.header__number-persons-arts > p, .header__number-persons-artist > p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 46px;
    color: #363A45;
    margin: 0;
}

.header__number-persons-arts {
    margin-right: 90px;
}

.base__container-fluid {
    display: flex;
    justify-content: center;
    margin-top: 350px;
    height: 808px;


}

.base__container-content {
    display: flex;
    justify-content: center;
    width: 1234px;
    height: 808px;
}

.base__content-cards {
    display: flex;
    width: 632px;
    height: 758px;
}

.base__content-major-card {
    position: absolute;
    z-index: 2;
    width: 276px;
    height: 333px;
    margin-top: 320px;
    margin-left: 281px;
    /*background: rgba(196, 196, 196, 0.3);*/
    border: 1px solid #C4C4C4;
    /*border-top-style: inset ;*/
    /*border-left-style: inset;*/
    /*border-top-color: white;*/
    /*border-left-color: white;*/
    background: -webkit-linear-gradient(315deg, rgb(157, 63, 146) 18%, rgb(251, 204, 152) 70%, rgb(246, 246, 246) 92%);
    background: -moz-linear-gradient(315deg, rgb(157, 63, 146) 18%, rgb(251, 204, 152) 70%, rgb(246, 246, 246) 92%);
    background: linear-gradient(315deg, rgb(157, 63, 146) 18%, rgb(251, 204, 152) 70%, rgb(246, 246, 246) 92%);
}

.base__content-minor-card {
    display: flex;
    position: absolute;
    z-index: 1;
    align-self: flex-start;
    justify-content: center;
    width: 407px;
    height: 490px;
    /*margin-top: 62px;*/
    margin-left: 69px;
    /*background: rgba(196, 196, 196, 0.3);*/
    /*background: -webkit-linear-gradient(0deg, rgb(196, 196, 196) 80%, rgb(253, 253, 253));*/
    /*background: -moz-linear-gradient(0deg, rgb(196, 196, 196) 80%, rgb(253, 253, 253));*/
    /*background: linear-gradient(0deg, rgb(196, 196, 196) 80%, rgb(253, 253, 253));*/
    /*background-color: transparent;*/
    background: -webkit-linear-gradient(0deg, rgb(157, 63, 146) 5%, rgb(251, 204, 152) 91%, rgb(255, 255, 255) 100%);
    background: -moz-linear-gradient(0deg, rgb(157, 63, 146) 5%, rgb(251, 204, 152) 91%, rgb(255, 255, 255) 100%);
    background: linear-gradient(0deg, rgb(157, 63, 146) 5%, rgb(251, 204, 152) 91%, rgb(255, 255, 255) 100%);
}

.base__content-background-card {
    display: flex;
    align-self: flex-end;
    position: relative;
    /*position: absolute;*/
    /*z-index: -1;*/
    width: 553px;
    height: 652px;
    margin-left: 40px;
    margin-bottom: 50px;
    background-color: darksalmon;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
    background: -webkit-linear-gradient(180deg, rgb(253, 181, 124), rgb(155, 16, 139) 100%);
    background: -moz-linear-gradient(180deg, rgb(253, 181, 124), rgb(155, 16, 139) 100%);
    background: linear-gradient(180deg, rgb(253, 181, 124), rgb(155, 16, 139) 100%);
    -webkit-box-shadow: -37px 38px 0px 0px rgba(217, 153, 221, 0.2);
    -moz-box-shadow: -37px 38px 0px 0px rgba(217, 153, 221, 0.2);
    box-shadow: -37px 38px 0px 0px rgba(217, 153, 221, 0.2);
}

.base__content-image-last {
    width: 373px;
    height: 377px;
    margin-top: 15px;
}

.base__content-image-first {
    width: 254px;
    height: 258px;
    margin-left: 10px;
    margin-top: 10px;
}

.registration__container {
    width: 508px;
    height: 370px;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 136px;
}

.registration__container-title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 84px;
    color: #27292E;
    margin: 0;
    margin-bottom: 26px;
}

.registration__container-text {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #585C65;
    margin: 0 0 50px 0;
}

.registration__container-btn {
    display: block;
    text-decoration: none;
    width: 152px;
    height: 62px;
    background: -webkit-linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);
    background: -moz-linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);
    background: linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    padding: 15px 39px 15px 40px;
}

.marketplace__container-fluid {
    display: flex;
    justify-content: center;
    height: 986px;

    margin-top: 200px;
}

.marketplace__container-content {
    width: 1140px;
    height: 986px;

}
.marketplace__container-full-title {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    height: 136px;
    margin-bottom: 72px;
}
.marketplace__container-full-title > h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;
    color: #27292E;
    margin: auto 0 0 0;
}
.marketplace__container-full-title > p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    color: #585C65;
    margin: 29px 30px 0 0;
    max-width: 434px;
}
.marketplace__container--profile {
    display: flex;
    justify-content: space-between;
    height: 774px;
}
.marketplace__container-profile-card {
    width: 360px;
    height: 774px;
    background-color: floralwhite;

}
.profile-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 360px;
    background: -webkit-linear-gradient(180deg, rgb(253, 181, 124), rgb(155, 16, 139) 100%);
    background: -moz-linear-gradient(180deg, rgb(253, 181, 124), rgb(155, 16, 139) 100%);
    background: linear-gradient(180deg, rgb(253, 181, 124), rgb(155, 16, 139) 100%);
}
.avatar {
    width: 310px;
    height: 310px;
    background-color: #C4C4C4;
}
/*.profile-title {*/
/*    */
/*}*/
.profile-title > h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #34363B;
    margin: 30px 187px 30px 25px;
    white-space: nowrap;
    /*max-width: 225px;*/
    /*max-height: 36px;*/
}
.price {
    display: flex;
    justify-content: space-between;
    width: 311px;
    height: 100px;
    margin-left: 25px;
}
.price-item{
    width: 144px;
    height: 100px;
    border: 1px solid #F3E3EF;
}

.price-item > h4 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #27292E;
    margin: 0;
    padding: 20px 56px 10px 20px;


}

.price-item > p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #27292E;
    margin: 0;
    padding-left: 20px;
}
.personal-information {
    display: flex;
    justify-content: space-between;
    width: 189px;
    height: 56px;
    margin-top: 36px;
    margin-bottom: 38px;
    margin-left: 25px;
}
.photo {
    width: 53px;
    height: 53px;

}
.name {
    margin-left: 15px;
}
.name > h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #27292E;
    margin: 0;
    padding-bottom: 8px;

}
.name > p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: #27292E;
    margin: 0;
}
.profile-info-btn {
    margin-left: 25px;
}
.info-btn {
    display: block;
    text-decoration: none;
    width: 310px;
    height: 69px;
    background: -webkit-linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);
    background: -moz-linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);
    background: linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    padding: 21px 106px;
}

.guarante__container-fluid {
    display: flex;
    justify-content: center;
    margin-top: 170px;
    height: 758px;


}

.guarante__container-content {
    display: flex;
    justify-content: center;
    width: 1235px;
    height: 758px;

}

.guarante__content-cards {
    display: flex;
    width: 632px;
    height: 758px;
    transform: scaleX(-1);

}

.guarante__content-major-card {
    position: absolute;
    z-index: 2;
    width: 276px;
    height: 333px;
    margin-top: 320px;
    margin-left: 281px;
    /*background: rgba(196, 196, 196, 0.3);*/
    border: 1px solid #C4C4C4;
    /*border-top-style: inset ;*/
    /*border-left-style: inset;*/
    /*border-top-color: white;*/
    /*border-left-color: white;*/
    background: -webkit-linear-gradient(315deg, rgb(157, 63, 146) 18%, rgb(251, 204, 152) 70%, rgb(246, 246, 246) 92%);
    background: -moz-linear-gradient(315deg, rgb(157, 63, 146) 18%, rgb(251, 204, 152) 70%, rgb(246, 246, 246) 92%);
    background: linear-gradient(315deg, rgb(157, 63, 146) 18%, rgb(251, 204, 152) 70%, rgb(246, 246, 246) 92%);
}

.guarante__content-minor-card {
    display: flex;
    position: absolute;
    z-index: 1;
    align-self: flex-start;
    justify-content: center;
    width: 407px;
    height: 490px;
    /*margin-top: 62px;*/
    margin-left: 69px;
    /*background: rgba(196, 196, 196, 0.3);*/
    /*background: -webkit-linear-gradient(0deg, rgb(196, 196, 196) 80%, rgb(253, 253, 253));*/
    /*background: -moz-linear-gradient(0deg, rgb(196, 196, 196) 80%, rgb(253, 253, 253));*/
    /*background: linear-gradient(0deg, rgb(196, 196, 196) 80%, rgb(253, 253, 253));*/
    /*background-color: transparent;*/
    background: -webkit-linear-gradient(0deg, rgb(157, 63, 146) 5%, rgb(251, 204, 152) 91%, rgb(255, 255, 255) 100%);
    background: -moz-linear-gradient(0deg, rgb(157, 63, 146) 5%, rgb(251, 204, 152) 91%, rgb(255, 255, 255) 100%);
    background: linear-gradient(0deg, rgb(157, 63, 146) 5%, rgb(251, 204, 152) 91%, rgb(255, 255, 255) 100%);
}

.guarante__content-background-card {
    display: flex;
    align-self: flex-end;
    position: relative;
    /*position: absolute;*/
    /*z-index: -1;*/
    width: 553px;
    height: 652px;
    margin-left: 40px;
    margin-bottom: 50px;
    background-color: darksalmon;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
    background: -webkit-linear-gradient(180deg, rgb(253, 181, 124), rgb(155, 16, 139) 100%);
    background: -moz-linear-gradient(180deg, rgb(253, 181, 124), rgb(155, 16, 139) 100%);
    background: linear-gradient(180deg, rgb(253, 181, 124), rgb(155, 16, 139) 100%);
    -webkit-box-shadow: -37px 38px 0px 0px rgba(217, 153, 221, 0.2);
    -moz-box-shadow: -37px 38px 0px 0px rgba(217, 153, 221, 0.2);
    box-shadow: -37px 38px 0px 0px rgba(217, 153, 221, 0.2);
}

.guarante__content-image-last {
    width: 373px;
    height: 377px;
    margin-top: 15px;
}

.guarante__content-image-first {
    width: 254px;
    height: 258px;
    margin-left: 10px;
    margin-top: 10px;
}

.trust-info__container {
    width: 508px;
    height: 370px;
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 136px;
}

.trust-info__container-title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 84px;
    color: #27292E;
    margin: 0;
    margin-bottom: 26px;
}

.trust-info__container-text {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #585C65;
    margin: 0 0 50px 0;
}

.trust-info__btn {
    display: block;
    text-decoration: none;
    width: 152px;
    height: 62px;
    background: -webkit-linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);
    background: -moz-linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);
    background: linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    padding: 15px 39px 15px 40px;
}
.subscription__container-fluid {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    min-height: 530px;
}
.subscription__container-content {
    display: flex;
    justify-content: center;
    width: 1264px;
    height: 530px;
    background: -webkit-linear-gradient(45deg, rgb(50, 87, 218), rgb(223, 69, 236) 77%);
    background: -moz-linear-gradient(45deg, rgb(50, 87, 218), rgb(223, 69, 236) 77%);
    background: linear-gradient(45deg, rgb(50, 87, 218), rgb(223, 69, 236) 77%);
}
.subscription__form {
    max-width: 829px;
}
.subscription__title {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 84px;
    color: #ffffff;
    margin: 70px 0 0 0;
    text-align: center;
    max-width: 829px;
}
.subscription__text {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    margin: 27px 0 0 0;
    text-align: center;
}
.personal-email {
    display: flex;
    justify-content: space-between;
    width: 662px;
    height: 61px;
    margin: 60px auto 80px;
}
.email__address {
    width: 418px;
    height: 61px;
    background-color: rgba(196, 196, 196, 0.3);
    border: none;
    /*background-image: url("/images/mail.svg");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center left;*/
    /*background-size: 27px 27px;*/
    /*padding-right: 90px;*/
   /*background-position: left;*/


}

::-webkit-input-placeholder {
    width: 300px;
    /*text-indent: 55px;*/
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF80;
    margin: 0;
    cursor: pointer;
}

.register__icon-little {
    width: 50px;
    height: 61px;
    background-color: rgba(196, 196, 196, 0.3);

}
.register__icon-little > img {
    margin: 17px 12px;
    /*padding-top: 17px;*/
    /*padding-left: 11px;*/
    width: 27px;
    height: 27px;
}


.register__btn {
    display: block;
    text-decoration: none;
    width: 174px;
    height: 61px;
    background: -webkit-linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);
    background: -moz-linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);
    background: linear-gradient(90deg, rgb(255, 180, 67) 4%, rgb(220, 107, 136) 96%);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
    padding: 15px 44px 14px 44px;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}